.heading
  text-align center
.project-list
  height 100vh
  width 100vw
  display flex
  flex-wrap wrap
.project
  padding 5px
  width 50%
  box-sizing border-box
  position relative
  img
    width 100%
  figcaption
    position absolute
    bottom 0
    left 5px 
    right 5px
    padding 5px 0
    background-color #565e65
    text-decoration none
    color #c7ccd1
    text-align center
    font-family monospace
